<header>
    <nav>
        <div class="logo">Portfolyo</div>
        <ul class="nav-links">
            <li><a href="#anasayfa">Anasayfa</a></li>
            <li><a href="#hakkimda">Hakkımda</a></li>
            <li><a href="#iletisim">İletişim</a></li>
        </ul>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>